# reusable service configuration
x-teller-api-common-services: &teller-api-common-services
  build:
    context: .
  image: pascaleef/eef-teller-api:dev
  env_file: docker-compose.env
  depends_on:
    - teller-nats
  networks:
    - teller
  restart: unless-stopped

services:
  teller-api:
    <<: *teller-api-common-services
    container_name: eef-teller-api-gateway
    environment:
      SERVICES: api
      PORT: 5001
    ports:
      - "5001:5001"
    networks:
      - teller

  teller-auth:
    <<: *teller-api-common-services
    container_name: eef-teller-api-auth
    environment:
      SERVICES: auth

  teller-login:
    <<: *teller-api-common-services
    container_name: eef-teller-api-login
    environment:
      SERVICES: login

  teller-receipt:
    <<: *teller-api-common-services
    container_name: eef-teller-api-receipt
    environment:
      SERVICES: receipt
    volumes:
      - /srv/applications/teller/teller-api/store/cash-withdrawal/:/app/store/cash-withdrawal/
      - /srv/applications/teller/teller-api/store/customer-registration/:/app/store/customer-registration/
      - /srv/applications/teller/teller-api/store/mgdocs/:/app/store/mgdocs/

  teller-transactions:
    <<: *teller-api-common-services
    container_name: eef-teller-api-transactions
    environment:
      SERVICES: transactions

  teller-logger:
    <<: *teller-api-common-services
    container_name: eef-teller-api-logger
    environment:
      SERVICES: logger
    volumes:
      - /srv/applications/logs/teller_api/:/srv/applications/logs/teller_api/

  teller-nats:
    image: nats:2
    container_name: eef-teller-api-nats-server
    networks:
      - teller
    restart: unless-stopped

networks:
  teller:
    driver: bridge